{% extends "home.html" %}

{% block content %}

<h1 class="text-white text-center m-5">Productos</h1>
<div class="row mx-3">
  <div class=" mt-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="card container">
      {% load static %}
      <img src="{% static 'img/img-1.jpg' %}" class="card-img-top imgProducts" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class=" mt-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="card container">
      {% load static %}
      <img src="{% static 'img/img-2.jpg' %}" class="card-img-top imgProducts" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class=" mt-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="card container">
      {% load static %}
      <img src="{% static 'img/img-3.jpg' %}" class="card-img-top imgProducts" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class=" mt-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="card container">
      {% load static %}
      <img src="{% static 'img/img-4.jpg' %}" class="card-img-top imgProducts" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class=" mt-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="card container">
      {% load static %}
      <img src="{% static 'img/img-5.jpg' %}" class="card-img-top imgProducts" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class=" mt-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="card container">
      {% load static %}
      <img src="{% static 'img/img-6.jpeg' %}" class="card-img-top imgProducts" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

</div>
{% endblock%}